#!/bin/sh
LINUX_URL="file:/$WORKDIR/linux/linux"
BUILD_MOD=yes
BUILD_NET=no
INCREMENTAL=yes
CHECK_WARN=no
LLVM_OPT="LLVM=1"

user_configure_kernel() {
  merge_config tools/testing/selftests/ftrace/config
. $TOPDIR/ermine/minimize_kconfig
}

user_configure_busybox() {
. $TOPDIR/ermine/minimize_busybox
}
